<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Daily Tasks</h2>
  </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-content">
          <h3>To-do</h3>
          <p class="small">
            <i class="fa fa-hand-o-up"></i> Drag task between list</p>
          <div class="input-group">
            <input type="text" placeholder="Add new task. " class="input form-control-sm form-control">
            <span class="input-group-btn">
              <button type="button" class="btn btn-sm btn-white">
                <i class="fa fa-plus"></i> Add task</button>
            </span>
          </div>
          <ul class="sortable-list connectList agile-list ui-sortable" id="todo">
            <li class="warning-element ui-sortable-handle" id="task1">
              <p>
                <span class="bg-warning p-xxs">
                  <strong>Project Name</strong> | Project Category</span>
              </p>
              Simply dummy text of the printing and typesetting industry.
              <div class="row agile-detail">
                <div class="col-sm-6">
                  <i class="fa fa-calendar"></i> 12/10/2015
                  <i class="fa fa-clock-o"></i> 02:00 Hrs.</div>
                <div class="col-sm-6">
                  <button class="pull-right btn btn-danger hidden-xs" type="button">
                    <i class="fa fa-trash"></i>&nbsp;Delete</button>
                  <button class="pull-right btn btn-success hidden-xs" type="button">
                    <i class="fa fa-check"></i>&nbsp;Complete</button>
                  <button class="pull-right btn btn-info hidden-xs" type="button">
                    <i class="fa fa-copy"></i>&nbsp;Copy</button>
                  <button class="pull-right btn btn-warning hidden-xs" type="button">
                    <i class="fa fa-edit"></i>&nbsp;Edit</button>
                  <button class="pull-right btn btn-primary hidden-xs" type="button">
                    <i class="fa fa-send-o"></i>&nbsp;Log</button>
                  <button class="btn-xs btn-primary hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-send-o"></i>
                  </button>
                  <button class="btn-xs btn-warning hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button class="btn-xs btn-info hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-copy"></i>
                  </button>
                  <button class="btn-xs btn-success hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-check"></i>
                  </button>
                  <button class="btn-xs btn-danger hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </li>
            <li class="success-element ui-sortable-handle" id="task2">
              <p>
                <span class="bg-success p-xxs">
                  <strong>Project Name</strong> | Project Category</span>
              </p>
              Simply dummy text of the printing and typesetting industry.
              <div class="row agile-detail">
                <div class="col-sm-6">
                  <i class="fa fa-calendar"></i> 12/10/2015
                  <i class="fa fa-clock-o"></i> 02:00 Hrs.</div>
                <div class="col-sm-6">
                  <button class="pull-right btn btn-danger hidden-xs" type="button">
                    <i class="fa fa-trash"></i>&nbsp;Delete</button>
                  <button class="pull-right btn btn-success hidden-xs" type="button">
                    <i class="fa fa-check"></i>&nbsp;Complete</button>
                  <button class="pull-right btn btn-info hidden-xs" type="button">
                    <i class="fa fa-copy"></i>&nbsp;Copy</button>
                  <button class="pull-right btn btn-warning hidden-xs" type="button">
                    <i class="fa fa-edit"></i>&nbsp;Edit</button>
                  <button class="pull-right btn btn-primary hidden-xs" type="button">
                    <i class="fa fa-send-o"></i>&nbsp;Log</button>
                  <button class="btn-xs btn-primary hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-send-o"></i>
                  </button>
                  <button class="btn-xs btn-warning hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button class="btn-xs btn-info hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-copy"></i>
                  </button>
                  <button class="btn-xs btn-success hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-check"></i>
                  </button>
                  <button class="btn-xs btn-danger hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </li>
            <li class="info-element ui-sortable-handle" id="task3">
              <p>
                <span class="bg-info p-xxs">
                  <strong>Project Name</strong> | Project Category</span>
              </p>
              Simply dummy text of the printing and typesetting industry.
              <div class="row agile-detail">
                <div class="col-sm-6">
                  <i class="fa fa-calendar"></i> 12/10/2015
                  <i class="fa fa-clock-o"></i> 02:00 Hrs.</div>
                <div class="col-sm-6">
                  <button class="pull-right btn btn-danger hidden-xs" type="button">
                    <i class="fa fa-trash"></i>&nbsp;Delete</button>
                  <button class="pull-right btn btn-success hidden-xs" type="button">
                    <i class="fa fa-check"></i>&nbsp;Complete</button>
                  <button class="pull-right btn btn-info hidden-xs" type="button">
                    <i class="fa fa-copy"></i>&nbsp;Copy</button>
                  <button class="pull-right btn btn-warning hidden-xs" type="button">
                    <i class="fa fa-edit"></i>&nbsp;Edit</button>
                  <button class="pull-right btn btn-primary hidden-xs" type="button">
                    <i class="fa fa-send-o"></i>&nbsp;Log</button>
                  <button class="btn-xs btn-primary hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-send-o"></i>
                  </button>
                  <button class="btn-xs btn-warning hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button class="btn-xs btn-info hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-copy"></i>
                  </button>
                  <button class="btn-xs btn-success hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-check"></i>
                  </button>
                  <button class="btn-xs btn-danger hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </li>
            <li class="danger-element ui-sortable-handle" id="task4">
              <p>
                <span class="bg-danger p-xxs">
                  <strong>Project Name</strong> | Project Category</span>
              </p>
              Simply dummy text of the printing and typesetting industry.
              <div class="row agile-detail">
                <div class="col-sm-6">
                  <i class="fa fa-calendar"></i> 12/10/2015
                  <i class="fa fa-clock-o"></i> 02:00 Hrs.</div>
                <div class="col-sm-6">
                  <button class="pull-right btn btn-danger hidden-xs" type="button">
                    <i class="fa fa-trash"></i>&nbsp;Delete</button>
                  <button class="pull-right btn btn-success hidden-xs" type="button">
                    <i class="fa fa-check"></i>&nbsp;Complete</button>
                  <button class="pull-right btn btn-info hidden-xs" type="button">
                    <i class="fa fa-copy"></i>&nbsp;Copy</button>
                  <button class="pull-right btn btn-warning hidden-xs" type="button">
                    <i class="fa fa-edit"></i>&nbsp;Edit</button>
                  <button class="pull-right btn btn-primary hidden-xs" type="button">
                    <i class="fa fa-send-o"></i>&nbsp;Log</button>
                  <button class="btn-xs btn-primary hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-send-o"></i>
                  </button>
                  <button class="btn-xs btn-warning hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button class="btn-xs btn-info hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-copy"></i>
                  </button>
                  <button class="btn-xs btn-success hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-check"></i>
                  </button>
                  <button class="btn-xs btn-danger hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </li>
            <li class="warning-element ui-sortable-handle" id="task5">
              <p>
                <span class="bg-warning p-xxs">
                  <strong>Project Name</strong> | Project Category</span>
              </p>
              Which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic
              words etc.
              <div class="row agile-detail">
                <div class="col-sm-6">
                  <i class="fa fa-calendar"></i> 12/10/2015
                  <i class="fa fa-clock-o"></i> 02:00 Hrs.</div>
                <div class="col-sm-6">
                  <button class="pull-right btn btn-danger hidden-xs" type="button">
                    <i class="fa fa-trash"></i>&nbsp;Delete</button>
                  <button class="pull-right btn btn-success hidden-xs" type="button">
                    <i class="fa fa-check"></i>&nbsp;Complete</button>
                  <button class="pull-right btn btn-info hidden-xs" type="button">
                    <i class="fa fa-copy"></i>&nbsp;Copy</button>
                  <button class="pull-right btn btn-warning hidden-xs" type="button">
                    <i class="fa fa-edit"></i>&nbsp;Edit</button>
                  <button class="pull-right btn btn-primary hidden-xs" type="button">
                    <i class="fa fa-send-o"></i>&nbsp;Log</button>
                  <button class="btn-xs btn-primary hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-send-o"></i>
                  </button>
                  <button class="btn-xs btn-warning hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button class="btn-xs btn-info hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-copy"></i>
                  </button>
                  <button class="btn-xs btn-success hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-check"></i>
                  </button>
                  <button class="btn-xs btn-danger hidden-sm hidden-md hidden-lg" type="button">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>